<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%=  link_to_if @user.url, image_tag(@user.image), (url_for(@user.url) if @user.url) if @user.image%>

  <div class="field">
    <%= f.label :name %>: <%= @user.name %>
  </div>
  <div class="field">
    <%= f.label :email %>: <%= @user.email %>
  </div>
  <div class="field">
    <%= f.label :level %>: <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label 'User Name'  %>: <%= f.text_field :uname%>
  </div>
  <div class="field">
    <%= f.label :password %>: <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</br>
Levels: 1:Administrator, 2:UserAdministrator, 3:User(who can start jobs), 4:Public </br>
Adding '?user=[User Name]&password=[Password]' into RestAPI request URLS will allow OCC authenticate requests as this user. </br>
To start jobs from CI machines, create a user for the CI system and set these to give it the ability to make URL requests. 

<% end %>
